<div class="template" draggable="false">
    <div class="header img">
        <img draggable="false" src="imgs/objects-ball-icon.png" alt="N/A" height="40" width="40">
    </div>
    <div class="name" style='
      text-transform:uppercase;
      text-align: center;
      font-family: "Century Gothic";
      font-size: 12px;
      text-shadow: 1px 2px 5px #fff;'>
        <p class="template-title"></p>
        <p class="template-desc"></p>
    </div>
    <input type="hidden" value='{
  "type": "action",
  "data": {
    "domainid": 110,
    "domaintype": "assembly",
    "domaintags": [
      ":adl",
      ":strips",
      ":conditional-effects",
      ":action-costs",
      ":derived-predicates",
      ":equality",
      ":negative-preconditions",
      ":typing"
    ],
    "domaindescription": "There is a robot with two grippers. It can carry a ball in each. The goal is to take N balls from one room to another; N rises with problem number. Some planners treat the two grippers asymmetrically, giving rise to an unnecessary combinatorial explosion. This domain was created by Jana Koehler.",
    "logo": "imgs/objects-ball-icon.png"
  }
}' class="template-data">
</div>