<div class="template" draggable="false">
    <div class="header" style='
      text-transform:uppercase;
      text-align: center;
      font-family: "Century Gothic";
      font-size: 12px;
      text-shadow: 0 0 5px #fff;'>
        <p class="template-title"></p>
    </div>
    <div class="description">
        <p class="template-desc"></p>
    </div>
    <input type="hidden" class="template-data" value='{
  "type": "precondition",
  "data": {
    "preconditions": [
      {
        "predicates": [
          {
            "state": "ontable",
            "operators": [
              "x"
            ],
            "predicate": true
          },
          {
            "state": "clear",
            "operators": [
              "x"
            ],
            "predicate": true
          },
          {
            "state": "handempty",
            "operators": [],
            "predicate": true
          }
        ],
        "models": [
          {
            "model": "block01",
            "location": [10,10]
          },
          {
            "model": "block02",
            "location": [15,15]
          },
          {
            "model": "block03",
            "location": [20,20]
          },
          {
            "model": "block04",
            "location": [5,5]
          },
          {
            "model": "block05",
            "location": [13,13]
          }
        ]
      }
    ]
  }
}'>
</div>