<div class="template" draggable="true">
    <div class="header img">
        <img draggable="false" src="imgs/image.png" alt="N/A" height="40" width="40">
    </div>
    <div class="name" style='
      text-transform:uppercase;
      text-align: center;
      font-family: "Century Gothic";
      font-size: 12px;
      text-shadow: 1px 2px 5px #fff;'>
        <p class="template-title"></p>
        <p class="template-desc"></p>
    </div>
    <input type="hidden" class="template-data" value='{
  "type": "image","data":{
    "logo":"imgs/image.png",
    "width": 200,
    "height": 200
    }
  }'>
</div>