body {
  background-color: #fafafa;
  background-attachment: fixed;
  display: flex;
  overflow-x: hidden; }

.side_menu {
  position: relative;
  background-image: linear-gradient(to right, #ffffff, #c6c6c6 100%);
  box-shadow: 0 0 5px white;
  border-right: 5px solid white;
  display: flex;
  flex: 3;
  flex-flow: column;
  align-items: stretch; }
  .side_menu .title {
    flex: 3;
    cursor: default;
    background-color: #212121;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-family: "Adobe Gothic Std";
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    padding-bottom: 10px; }
  .side_menu .title:first-letter {
    font-size: 25px; }
  .side_menu .tabs {
    flex: 1;
    position: relative;
    width: 100%;
    display: inline-flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: center; }
    .side_menu .tabs .tab {
      position: relative;
      width: 100%;
      font-size: 17px;
      font-family: "Gill Sans MT";
      font-weight: 200;
      background-color: #3e2723;
      color: #fff;
      text-align: center;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      padding-left: 4px;
      padding-right: 4px;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -ms-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .side_menu .tabs .tab:hover {
        font-weight: 400;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;
        background-color: #5d4037; }
    .side_menu .tabs .tab.active {
      background-color: transparent;
      color: black;
      text-shadow: 0 0 10px rgba(240, 240, 240, 0.8);
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -ms-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
  .side_menu .preload {
    display: flex;
    flex: 8;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
    padding: 15px 15px; }
    .side_menu .preload .template {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      margin: 5px 5px;
      border: 3px solid rgba(0, 0, 0, 0.7);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .side_menu .preload .template .name p, .side_menu .preload .template .header p {
        padding: 0 10px; }
      .side_menu .preload .template:hover {
        box-shadow: 0px 0px 3px black;
        transform: scale(1.1);
        opacity: 0.9; }
      .side_menu .preload .template:active {
        opacity: 0.55; }
      .side_menu .preload .template.selected {
        box-shadow: 0px 0px 3px black;
        opacity: 0.9; }
      .side_menu .preload .template.dragging {
        transform: rotate(30deg);
        opacity: 0.9; }
  .side_menu .divider {
    content: "";
    height: 1px;
    background-color: darkgray;
    width: 80%;
    margin: 5% 10%; }
  .side_menu .extensive {
    display: flex;
    flex: 3;
    position: relative;
    flex-flow: column;
    width: 100%; }
    .side_menu .extensive .template_upload {
      margin-left: 10px;
      margin-right: 10px;
      border: 2px dashed gray;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
      .side_menu .extensive .template_upload input {
        opacity: 0;
        filter: alpha(opacity=0);
        width: 100%;
        height: 100%; }
    .side_menu .extensive .btn {
      margin: 10px auto 10px auto;
      position: relative;
      text-align: center;
      width: 160px;
      height: 30px;
      border-radius: 8px;
      font-weight: bolder;
      -moz-user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
      padding-top: 10px; }
      .side_menu .extensive .btn:hover span {
        left: -72%;
        opacity: 0; }
      .side_menu .extensive .btn:hover i {
        width: 100%;
        font-size: 20px; }
      .side_menu .extensive .btn span, .side_menu .extensive .btn i {
        display: block;
        height: 100%;
        text-align: center;
        position: absolute;
        top: 25%; }
      .side_menu .extensive .btn span {
        width: 72%;
        text-transform: uppercase;
        left: 0;
        -webkit-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        -moz-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        -ms-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        -o-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1); }
        .side_menu .extensive .btn span::after {
          content: '';
          background-color: rgba(255, 255, 255, 0.75);
          width: 2px;
          height: 70%;
          position: absolute;
          left: 85%;
          top: -5%; }
      .side_menu .extensive .btn i {
        width: 28%;
        right: 0;
        -webkit-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        -moz-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        -ms-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        -o-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1); }
        .side_menu .extensive .btn i .fa {
          -webkit-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          -moz-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          -ms-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          -o-transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1); }
    .side_menu .extensive .edit {
      color: whitesmoke;
      background-color: #006699; }
    .side_menu .extensive .reset {
      color: whitesmoke;
      background-color: #0066CC; }
    .side_menu .extensive .start {
      color: whitesmoke;
      background-color: #2e3032; }

@media (min-width: 1201px) {
  .side_menu {
    width: 300px;
    height: 100%; }
    .side_menu .extensive .template_upload input {
      height: 50px; }

  .canvas_area .canvas {
    height: 650px; } }
@media (max-width: 1200px) {
  .side_menu {
    width: 260px;
    height: 100%; }
    .side_menu .extensive .template_upload input {
      height: 40px; }

  .canvas_area .canvas {
    height: 600px; } }
@media (max-width: 900px) {
  .side_menu {
    width: 200px;
    height: 100%; }
    .side_menu .extensive .template_upload input {
      height: 30px; }

  .canvas_area .canvas {
    height: 450px; } }
@media (max-width: 600px) {
  .side_menu {
    width: 150px;
    height: 100%; }
    .side_menu .extensive .template_upload input {
      height: 25px; }

  .canvas_area .canvas {
    height: 350px; } }
@media (max-width: 400px) {
  .side_menu {
    width: 110px;
    height: 100%; }
    .side_menu .extensive .template_upload input {
      height: 25px; }

  .canvas_area .canvas {
    height: 300px; } }
.canvas_area {
  display: flex;
  flex: 9;
  flex-flow: column;
  position: relative; }
  .canvas_area .canvas {
    width: calc(100vw - 340px);
    height: calc(100vh - 180px);
    background-color: white;
    position: relative;
    overflow: hidden; }
  .canvas_area .axis {
    background-color: #24313C;
    height: 120px;
    width: calc(100vw - 340px);
    position: relative;
    overflow: auto;
    align-items: center;
    justify-content: center;
    flex-flow: row; }
    .canvas_area .axis .element {
      cursor: default;
      position: relative;
      margin-top: 5px;
      height: 20px;
      width: 50px;
      padding: 15px;
      display: inline-block;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -ms-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .canvas_area .axis .element:hover, .canvas_area .axis .element.active {
        background: #9fbfdf; }
      .canvas_area .axis .element:hover {
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
      .canvas_area .axis .element.active {
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;
        z-index: 10; }
        .canvas_area .axis .element.active::after {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          box-shadow: 0 0 5px 2px silver;
          background-color: whitesmoke;
          animation: scaleHorizontal 1s; }
        .canvas_area .axis .element.active::before {
          content: '';
          position: absolute;
          top: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          box-shadow: 0 0 5px 2px silver;
          background-color: whitesmoke;
          animation: scaleHorizontal 1s; }
      .canvas_area .axis .element label {
        color: #fff;
        padding: 5px;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px; }
      .canvas_area .axis .element p {
        color: #fff;
        font-family: "Goudy Old Style";
        font-size: 15px;
        position: absolute;
        margin: 0 auto;
        text-align: center; }

.modal {
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  float: left; }
  .modal .modal_overlay {
    position: absolute;
    float: left;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: transparent;
    filter: blur(3px);
    opacity: 0;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s; }
  .modal .modal_panel {
    background-color: white;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 5%;
    height: 5%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;
    text-align: center;
    position: absolute;
    float: left;
    z-index: 1001;
    -webkit-transition: all 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: all 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: all 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: all 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all 1.2s cubic-bezier(0.25, 0.1, 0.25, 1); }
    .modal .modal_panel * {
      opacity: 0; }
    .modal .modal_panel .btn__close {
      float: right;
      margin-left: 10px;
      margin-right: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer; }
      .modal .modal_panel .btn__close .fa {
        color: #000; }
    .modal .modal_panel .btn__close:hover .fa {
      color: #1B1C1D;
      -webkit-animation-name: rotate_animation;
      -moz-animation-name: rotate_animation;
      -o-animation-name: rotate_animation;
      animation-name: rotate_animation;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      animation-iteration-count: 1; }
    .modal .modal_panel .model, .modal .modal_panel .action, .modal .modal_panel .predicate, .modal .modal_panel .precondition {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      .modal .modal_panel .model .content, .modal .modal_panel .action .content, .modal .modal_panel .predicate .content, .modal .modal_panel .precondition .content {
        display: flex;
        flex-flow: row;
        animation: delay_animation 1.5s; }
        .modal .modal_panel .model .content .tags, .modal .modal_panel .action .content .tags, .modal .modal_panel .predicate .content .tags, .modal .modal_panel .precondition .content .tags {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center; }
          .modal .modal_panel .model .content .tags img, .modal .modal_panel .action .content .tags img, .modal .modal_panel .predicate .content .tags img, .modal .modal_panel .precondition .content .tags img {
            width: 100%;
            height: 100%;
            max-width: 100px;
            max-height: 100px; }
          .modal .modal_panel .model .content .tags .sub_header, .modal .modal_panel .action .content .tags .sub_header, .modal .modal_panel .predicate .content .tags .sub_header, .modal .modal_panel .precondition .content .tags .sub_header {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center; }
            .modal .modal_panel .model .content .tags .sub_header *, .modal .modal_panel .action .content .tags .sub_header *, .modal .modal_panel .predicate .content .tags .sub_header *, .modal .modal_panel .precondition .content .tags .sub_header * {
              padding: 5px;
              margin: 5px; }
            .modal .modal_panel .model .content .tags .sub_header h5, .modal .modal_panel .action .content .tags .sub_header h5, .modal .modal_panel .predicate .content .tags .sub_header h5, .modal .modal_panel .precondition .content .tags .sub_header h5 {
              font-size: 15px; }
            .modal .modal_panel .model .content .tags .sub_header span, .modal .modal_panel .action .content .tags .sub_header span, .modal .modal_panel .predicate .content .tags .sub_header span, .modal .modal_panel .precondition .content .tags .sub_header span {
              cursor: pointer;
              background-color: gainsboro;
              font-size: 13px;
              border-radius: 3px;
              -webkit-transition: all 0.8s;
              -moz-transition: all 0.8s;
              -ms-transition: all 0.8s;
              -o-transition: all 0.8s;
              transition: all 0.8s; }
              .modal .modal_panel .model .content .tags .sub_header span:hover, .modal .modal_panel .action .content .tags .sub_header span:hover, .modal .modal_panel .predicate .content .tags .sub_header span:hover, .modal .modal_panel .precondition .content .tags .sub_header span:hover {
                background-color: #1B1C1D;
                color: #fff;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -ms-transition: all 0.8s;
                -o-transition: all 0.8s;
                transition: all 0.8s; }
        .modal .modal_panel .model .content .description, .modal .modal_panel .action .content .description, .modal .modal_panel .predicate .content .description, .modal .modal_panel .precondition .content .description {
          position: relative;
          width: 120%; }
          .modal .modal_panel .model .content .description p, .modal .modal_panel .action .content .description p, .modal .modal_panel .predicate .content .description p, .modal .modal_panel .precondition .content .description p {
            font-size: 12px;
            font-weight: 100;
            font-family: "Book Antiqua"; }

.dragging {
  box-shadow: 0 0 10px #1a69a4; }

.modal.active {
  visibility: visible; }
  .modal.active .modal_overlay {
    background: black;
    opacity: 0.7;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s; }
  .modal.active .modal_panel {
    width: 50%;
    height: 50%;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
    .modal.active .modal_panel * {
      opacity: 1; }

@keyframes scaleHorizontal {
  0% {
    width: 0%;
    transform: translateX(76%); }
  100% {
    width: 100%;
    transform: translateX(0%); } }
@keyframes rotate_animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes delay_animation {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=canvas.css.map */
